*{
    margin: 0px 0px;
}
.store {
    position: relative;
}

.store img {
    display: block;
    width: 100%;
    transition: 0.5s ease;
}

.store:hover img {
    filter: blur(5px);
}

.reveal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(167, 167, 167, 0.5);
}

.store:hover .reveal {
    opacity: 1;
}

.reveal a {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin:20px 20px;
}
.profile { 
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: rgb(182, 182, 182);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

.content {
    margin: 20px;
}
.content a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.content a i:hover{
    color: #fff;
    transition: 0.5s;
}

.content a i:nth-child(1){
    margin: 10px 20px;
}
.content h3{
    margin: 0px;
}

h1{
    text-align: center;
}

@media (max-width: 1090px) {
    .content a i:nth-child(1){
        margin: 10px 10px;
    }
    
}

@media (max-width: 970px) {
    .content a i:nth-child(1) {
        margin-left: 0px;
    }

    .content a i:nth-child(2) {
        margin: 10px 5px;
    }
    .profile { 
        display: grid;
        gap: 10px;
        align-items: center;
    }
    
}

@media (max-width: 890px){
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        align-items: center;
        margin:20px 20px;
    }
}

@media (max-width: 455px){
    .profile { 
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 5px;
        align-items: center;
        background-color: rgb(182, 182, 182);
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        border-radius: 20px;
    }
    
    .profile img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: 5px;
    }
    .content {
        margin: 5px;
    }
    .content a i{
        font-size: 1.5em;
        color: black;
        opacity: 0.9;
    }
    .content a i:nth-child(1) {
        margin-left: 0px;
    }

    .content a i:nth-child(2) {
        margin: 10px 2px;
    }
}