.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider img{
    width: 100%;
    height: 500px;
    display: none;
}


img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0; /* Make the button invisible */
    z-index: 2; /* Ensure the button is above the image */
}

.previous{
    left: 0;
}

.next{
    right:0;
}

@keyframes fade{
    from {opacity:.5}
    to {opacity: 1;}
}

@media (max-width:600px){
    .slider img{
        width: 100%;
        height: 300px;
    }
}