@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}



.main_btn {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    overflow: hidden;
    position: relative;
    transition: color 0.6s ease, border-color 0.6s ease;
    z-index: 1;

}

.main_btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100%;
    background: white;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: width 0.6s ease;
}

.main_btn:hover::before {
    width: 100%;
}

.main_btn:hover {
    color: black;
    border-color: white;
}


.container {
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #838282;
}
.row,.home-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    margin: auto;
}

.col-2 img {
    max-width: 100%;
    max-height: 600px;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #fff;
}

.col-2 p{
    font-size: 15px;
}

.small-container {
    /*max-width: 1080px;*/
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img {
	width: 100%;
	transition: .3s;
	margin-bottom: 10px;
}




.col-4 a{
	color: #555;
	font-size: small;
	text-decoration: none;
}
.col-4:hover{
	text-decoration: underline;
}


.first_section {
    background: radial-gradient(white, black);
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: red;
    right:10px;
    top: 10px;
}

.product-image{
    position:relative; 
    width:100%;
}

.product-image:hover{
	transform: scale(1.1);
}

.price{
	font-weight: 900;
    font-size: 20px;
}
.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.no-discount .discount-tag,
.no-discount .actual-price {
    display: none;
}

h3{
    font-size: large;
    margin-bottom: 10px;
}

.product-pricing{
    margin-left: 20px;
}

.featured {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    align-items: center;
    margin: 0px 0px;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
}

.first img, .second img {
    width: 100%;
    display: block;
}

.featured-button {
    position: absolute;
    top: 80%;
    left: 5%;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    overflow: hidden;
    transition: color 0.6s ease, border-color 0.6s ease;
    z-index: 1;
}

.featured-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 100%;
    background: white;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: width 0.6s ease;
}

.featured-button:hover::before {
    width: 100%;
}

.featured-button:hover {
    color: black;
    border-color: white;
}



@media (max-width:624px){
    .featured-button{
        width: 150px;
        height: 30px;
    }
}
@media (max-width:440px){

    .small-container {
        /*max-width: 1080px;*/
        width: 100%;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-4 {
        flex-basis: 25%;
        padding: 0px;
        padding-top: 10px;
        min-width: 150px;
        margin: 20px;
    }
    
    .featured-button{
        width: 100px;
        height: 30px;
    }
    .discount-tag{
        background: #fff;
        font-size: 8px;
    }
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 1s ease-out;
  }
}