.product-details{
    width: 100%;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    background: rgb(196, 189, 189);
}

.image-slider{
    width: 500px;
    height: 500px;
    position: relative;
    background-size: cover;
    margin-right: 30px;
}

.product-images{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100px;
    grid-gap:10px;
    padding: 10px;
}

.product-images img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-images img.active{
    opacity: 0.5;  /*Not working wonder why 57:21 on video */
}

.details{
    width: 50%;
}
.details .product-brand{
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des{
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price{
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price{
    font-weight: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount{
    color: #ff7d7d;
    font-size: 20px;
}

.product-sub-heading{
    font-size: 30px;
    text-transform: uppercase;
    margin:60px 0 10px;
    font-weight: 300;
}

.size-radio-btn{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    color: #383838;
    cursor: pointer;
}

.size-radio-btn.check{
    background: #383838;
    color: #fff;
}

.btn{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #00cbfe;
    background-color: #00cbfe;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin:20px 0;
    text-transform: capitalize;
}
.btn:hover{
    transform:scale(1.1);
    transition: 0.5s;
  }

.btn:active {
    transform: scale(0.95); /* Press down effect */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); /* Reduce shadow */
    transition: 0.5s;
}

.cart-btn{
    background: #383838;
    color: #fff;
}

.color-radio-btn{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    color: #fff;
    cursor: pointer;
}

.color-radio-btn.check{
    background: #383838;
    color: #fff;
}

/* Focus on styling later*/